

#wrapper
{
    width: 90%;
    border: 4px solid lightblue;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}
.navbar {
    font-family: 'Arial', sans-serif;
  }
  
  .nav-link {
    color: #fff !important; /* White text */
    transition: color 0.3s ease; /* Smooth transition for hover */
  }
  
  .nav-link:hover {
    color: #0dffe2 !important; /* Neon-like hover effect */
    text-shadow: 0 0 5px #0dffe2; /* Glow effect */
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #0dffe2; /* Brand color */
  }
  
  .navbar-brand:hover {
    color: #fff; /* Change on hover */
  }
  .nav {
    display: flex;
    justify-content: center;
    
  }
  